@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Playfair Display", serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}
.questionCard{
    margin : 1%;
    background-color: aliceblue;
    padding: 2%;
    border-radius: 5px;
}

.btn{
    border : none;
    padding : 1vw;
    width : 30%;
    background-color: aqua;
    font-size: 1.25vw;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 5vh;
    margin-top: 2vh;
}
.heading{
    text-align: center;
    font-size: 1vw;
}
.head{
    font-size: 2vw;
}